@page "/"
@using SimpleTable.Grid

@* 
    1. 200% zoom issue
    2. Seperate the container
    3. Rename the components
    4. Scrollable size parameter
    5. Header text position
*@

<Table Bordered Scrollable>
    <Header HeaderBackground>
        <HCell>Header 1</HCell>
        <HCell>Header 2</HCell>
        <HCell>Header 3</HCell>
        <HCell>Header 4</HCell>
        <HCell>Header 5</HCell>
        <HCell>Header 6</HCell>
        <HCell>Header 7</HCell>
    </Header>
    <Body>
        <Record>
            <DCell>1a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>2a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>3a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>4a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>5a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
    </Body>
</Table>
