@page "/"
@using SimpleTable.Grid

<Table Bordered>
    <Header HeaderBackground>
        <HCell>Header 1</HCell>
        <HCell>Header 2</HCell>
        <HCell>Header 3</HCell>
        <HCell>Header 4</HCell>
        <HCell>Header 5</HCell>
    </Header>
    <Record>
        <DCell>a</DCell>
        <DCell>s</DCell>
        <DCell>d</DCell>
        <DCell>w</DCell>
        <HCell>z</HCell>
    </Record>
    <Record>
        <DCell>a</DCell>
        <DCell>s</DCell>
        <DCell>d</DCell>
        <DCell>w</DCell>
        <HCell>z</HCell>
    </Record>
    <Record>
        <DCell>a</DCell>
        <DCell>s</DCell>
        <DCell>d</DCell>
        <DCell>w</DCell>
        <HCell>z</HCell>
    </Record>
</Table>
