@page "/"
@using SimpleTable.Grid

@* 
    1. 200% zoom issue
    2. Seperate the container
    3. Rename the components
    4. Scrollable size parameter for the table height
    5. Header text position
    6. Clickable row (- propagated cell click)
    7. Clickable cell
    8. Filters
    9. Local data source with pagination
    10. Remote data source with pagination
    11. Srinkable columns
    12. Fixed Columns
    13. Convert to html table
    14. Auto table
    15. Why inject as service
    16. User defined filters
    17. Nuget package
    18. Common css file
*@

<Table Bordered Scrollable>
    <Header HeaderBackground>
        <HCell>Header 1</HCell>
        <HCell>Header 2</HCell>
        <HCell>Header 3</HCell>
        <HCell>Header 4</HCell>
        <HCell>Header 5</HCell>
        <HCell>Header 6</HCell>
        <HCell>Header 7</HCell>
    </Header>
    <Body>
        <Record>
            <DCell>1a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>2a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>3a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>4a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>5a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
        <Record>
            <DCell>a</DCell>
            <DCell>s</DCell>
            <DCell>d</DCell>
            <DCell>d</DCell>
            <DCell>w</DCell>
            <DCell>z</DCell>
            <DCell>x</DCell>
        </Record>
    </Body>
</Table>
