@page "/"
@using SimpleTable.Grid

<Table>
    <Header>
        <HCell>a</HCell>
        <HCell>w</HCell>
        <HCell>a</HCell>
        <HCell>a</HCell>
    </Header>
    <Record>
        <DCell>a</DCell>
        <DCell>s</DCell>
        <DCell>d</DCell>
        <DCell>w</DCell>
    </Record>
</Table>
