.tr {
    display: flex;
    height:25px;
}

.bordered > div > div {
    border-left: 0.08em solid #808080;
    border-bottom: 0.08em solid #808080;
}

.basic-border > div {
    border-bottom: 0.08em solid #808080;
}