@namespace SimpleTable

@if (_isScrollable)
{
    <div class="@Constants.Scrollable">
        @_tableTemplate
    </div>
}
else
{
    @_tableTemplate
}

@code {
    private RenderFragment _tableTemplate => __builder =>
    {
        <table class="@_classes">@ChildContent</table>
    };
}